.joinimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

@media (min-width:1200px) {
  .joinimg{
    height: 27vw;
    width: 30vw;
  }
}

#joinbox {
  padding: 4% 15%;
}
.row-join {
  margin-bottom: 20px;
}
.join {
  padding: 2%;
  background-image: linear-gradient(to right, #0f9ee7, #0c93d7, #0987c7, #077cb7, #0571a7);
  box-shadow: rgba(0, 0, 0, 0.36) 0px 20px 30px 4px;
  border-radius: 30px;
}

.jointext {
  padding-top: 20px;
  padding-bottom: 50px;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .joinimg {
    max-width: 80%;
    height: 100%;
    border-radius: 20px;
  }
  .join{
    padding: 10%;
  }
  .row-join{
   
    display: flex;
    flex-direction: column;
  }
  #joinbox{
    padding: 4% 10%;
  }
  #services{
    padding: 4% 10%;
   
  }
}
